[submodule "submodules/kalman_robot"]
	path = submodules/kalman_robot
	url = git@github.com:agh-space-systems-rover/kalman_robot.git
[submodule "submodules/moveit_msgs"]
	path = submodules/moveit_msgs
	url = git@github.com:moveit/moveit_msgs.git
	branch = master
